<template>
    <div class="card card-default mb-3 has-table">
        <div class="card-header">
            Growth by Time
        </div>

        <div class="card-body">
            <preloader :loading.sync="growthLoading"></preloader>
            <table id="alliances" class="table table-striped table-bordered" style="width:100%" v-if="!growthLoading">
                <thead>
                    <tr>
                        <th></th>
                        <th v-for="item in growth.xp">{{ item.time }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Xp</td>
                        <td v-for="item in growth.xp">
                            <span v-bind:class="{ positive: Math.sign(item.total) == 1, negative: Math.sign(item.total) == -1 }">{{ item.total | shorten }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td v-for="item in growth.size">
                            <span v-bind:class="{ positive: Math.sign(item.total) == 1, negative: Math.sign(item.total) == -1 }">{{ item.total | shorten }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Value</td>
                        <td v-for="item in growth.value">
                            <span v-bind:class="{ positive: Math.sign(item.total) == 1, negative: Math.sign(item.total) == -1 }">{{ item.total | shorten }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td v-for="item in growth.score">
                            <span v-bind:class="{ positive: Math.sign(item.total) == 1, negative: Math.sign(item.total) == -1 }">{{ item.total | shorten }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Members</td>
                        <td v-for="item in growth.members">
                            <span v-bind:class="{ positive: Math.sign(item.total) == 1, negative: Math.sign(item.total) == -1 }">{{ item.total }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data() {
            return {
                growth: {},
                growthLoading: true,
            };
        },
        methods: {
            loadGrowth: function() {
                this.xpGrowthLoading = true;
                axios.get('/api/v1/alliances/' + this.id + '/growth').then((response) => {
                    this.growth = response.data;
                    this.growthLoading = false;
                });
            },
        },
        mounted() {
            this.loadGrowth();
        }
    }
</script>
