<template>
    <div class="card card-default mb-3 has-table">
        <div class="card-header">
            Attack Land Times
        </div>

        <div class="card-body">
            <preloader :loading.sync="attackLandingsLoading"></preloader>
            <GChart
                type="ColumnChart"
                :data="attackLandings"
                :options="attackLandingsChartOptions"
            />
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data() {
            return {
                landings: {},
                attackLandings: {},
                attackLandingsLoading: true,
                attackLandingsChartOptions: {
                    title: '',
                    backgroundColor: {
                      stroke: '#424242',
                      fill: '#424242',
                      strokeWidth: '0'
                    },
                    colors: ['#ea3b3b'],
                    height: 120,
                    width: '100%',
                    chartArea: {
                        width: '100%',
                    },
                    vAxis: {
                        gridlines: {
                            count: 0
                        },
                        baselineColor: '#424242',
                        viewWindowMode: 'maximized',
                    },
                    hAxis: {
                        textStyle: {
                            color: '#fff',
                            fontSize: 10
                        },
                    },
                    bar: {
                        groupWidth: "90%",
                    },
                    legend: "none"
                }
            };
        },
        methods: {
            loadAttackLandings: function() {
                this.attackLandingsLoading = true;
                axios.get('/api/v1/alliances/' + this.id + '/landings', {
                    params: {
                        type: 'Attack'
                    }
                }).then((response) => {
                    this.attackLandings = response.data;
                    this.attackLandingsLoading = false;
                });
            },
        },
        mounted() {
            this.loadAttackLandings();
        }
    }
</script>
