<template>
    <div class="card card-default mb-3 has-table" v-if="bookings.length">
        <div class="card-header">Bookings</div>

        <div class="card-body">
            <table id="bookings" class="table table-striped table-bordered attack" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center align-middle sticky-col">x:y z</th>
                        <th class="text-center align-middle">Attack</th>
                        <th class="text-center align-middle">Land tick</th>
                        <th class="text-center align-middle">Race</th>
                        <th class="text-center align-middle">Size</th>
                        <th class="text-center align-middle">Value / Score</th>
                        <th class="text-center align-middle">Amps</th>
                        <th class="text-center align-middle">Scans</th>
                        <th class="text-center align-middle">Intel</th>
                        <th class="text-right align-middle">Fleets</th>
                        <th class="text-left align-left">Calcs</th>
                        <th class="text-center align-middle">BG</th>
                        <th class="text-center align-middle">Notes</th>
                        <th class="text-center align-middle">Teamup</th>
                        <th class="text-center align-middle">Status</th>
                        <th class="text-center align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="booking in bookings">
                        <td class="text-center align-middle sticky-col"><router-link :to="{ name: 'galaxy', params: { id: booking.target.planet.galaxy_id }}"><a>{{ booking.target.planet.x }}:{{ booking.target.planet.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: booking.target.planet.id }}"><a>{{ booking.target.planet.z }}</a></router-link></td>
                        <td class="text-center align-middle">
                            <router-link :to="{ name: 'attack', params: { id: booking.target.attack.attack_id }}"><a><button class="btn btn-primary btn-sm">#{{ booking.target.attack.id }}</button></a></router-link>
                        </td>
                        <td class="text-center align-middle">{{ booking.land_tick }} (eta {{ (booking.land_tick)-settings.tick }})</td>
                        <td class="text-center align-middle"><span class="race" v-bind:class="booking.target.planet.race">{{ booking.target.planet.race }}</span></td>
                        <td class="text-center align-middle">{{ booking.target.planet.size }}</td>
                        <td class="text-center align-middle" v-bind:class="{ basher: booking.target.planet.basher }">{{ booking.target.planet.value | shorten }} / {{ booking.target.planet.score | shorten }}</td>
                        <td class="text-center align-middle" v-bind:class="{ yes: booking.target.planet.amps >= settings.user.distorters, no: booking.target.planet.amps < settings.user.distorters }">{{ booking.target.planet.amps }} / {{ booking.target.planet.waves }}</td>
                        <td class="scans text-center align-middle">
                            <scans :planet="booking.target.planet" :tick="settings.tick"></scans>
                        </td>
                        <td class="text-center align-middle">{{ booking.target.planet.nick }} <span v-if="booking.target.planet.nick && booking.target.planet.alliance">/ </span><router-link v-if="booking.target.planet.alliance" :to="{ name: 'alliance', params: { id: booking.target.planet.alliance.id }}"><a>{{ booking.target.planet.alliance.name }}</a></router-link></td>
                        <td class="text-right align-right"><span><span class="missionattack">{{ booking.attack_count }} ({{ booking.attack_fleets }})</span> / <span class="missiondefend">{{ booking.defence_count }} ({{ booking.defence_fleets}})</span></span></td>
                        <td class="text-left align-left">
                            <a v-if="booking.auto_calc" target="_BLANK" v-bind:href="booking.auto_calc">
                                <button class="btn btn-sm btn-link">auto</button>
                            </a> <a v-if="booking.battle_calc" target="_BLANK" v-bind:href="booking.battle_calc">
                                <button class="btn btn-sm btn-primary">manual</button>
                            </a>
                        </td>
                        <td class="text-left align-middle">
                            <change-battlegroup :booking='booking' :battlegroups='settings.battlegroups'></change-battlegroup>
                        </td>
                        <td class="text-left align-middle" style="width: 100%;">
                            {{ booking.notes }}
                        </td>
                        <td class="text-left align-middle">
                            {{ booking.user.name }}
                            <div v-if="booking.users.length">
                                <span v-for="user in booking.users">{{ user.name }}<br/></span>
                            </div>
                        </td>     
                        <td class="text-left align-middle">
                            <change-booking-status :booking='booking'></change-booking-status>
                        </td>                   
                        <td class="text-right align-middle">
                            <router-link :to="{ name: 'attackBooking', params: { id: booking.target.attack.attack_id, booking_id: booking.id }}"><a><button class="btn btn-sm btn-primary">view</button></a></router-link>
                            <a v-on:click="drop(booking)" class="btn btn-danger btn-sm" title="drop target"><i class="fa fa-arrow-circle-down"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['bookings', 'settings'],
        methods: {
            drop: function(booking) {
                axios.get('/api/v1/attacks/bookings/drop/' + booking.id, {
                    params: {
                        attack_id: booking.attack_id
                    }
                })
                .then((response) => {
                    this.$parent.loadBookings();
                    this.$emit('loadTargets');
                    this.$notify({
                        group: 'foo',
                        title: 'Success',
                        text: 'Target dropped',
                        type: 'success'
                    });
                });
            }
        }
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
