<template>
    <div>
         <select v-model="booking.bg_id" v-on:change="changeBattleGroup">
            <option value="0">None</option>
            <option v-for="option in battlegroups" v-bind:value="option.id">{{ option.name }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['booking', 'battlegroups'],
        methods: {
            changeBattleGroup: function() {
                axios.put('/api/v1/attacks/bookings/' + this.booking.id, {
                    bg: this.booking.bg_id
                })
                .then((response) => {
                    this.$parent.$parent.loadBookings();
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'Battlegroup updated',
                      type: 'success'
                    });
                });
            }  
        },
    }
</script>
