<template>
    <div>
         <select class="booking-status" v-model="booking.status" v-on:change="changeBookingStatus" v-bind:class="{ none: booking.status == 'none', recall: booking.status == 'recall', land: booking.status == 'land' }">
            <option value="none">NONE</option>
            <option value="land">LAND</option>
            <option value="recall">RECALL</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['booking'],
        methods: {
            changeBookingStatus: function() {
                axios.put('/api/v1/attacks/bookings/' + this.booking.id, {
                    status: this.booking.status
                })
                .then((response) => {
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'Booking status updated',
                      type: 'success'
                    });
                });
            }  
        },
    }
</script>
