<template>
    <div class="card card-default mb-3 has-table">
        <div class="card-header">
            Feed
            <div class="float-right">
            <span style="margin-left: 5px">
                    Per page
                    <select v-model="per_page">
                        <option value=10>10</option>
                        <option value=20>20</option>
                        <option value=50>50</option>
                        <option value=100>100</option>
                        <option v-bind:value="pager.total">All</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="card-body">
            <preloader :loading.sync="loading"></preloader>
            <table id="feed" class="table table-striped table-bordered" style="width:100%" v-if="!loading">
                <thead>
                    <tr>
                        <th class="align-bottom">Tick</th>
                        <th class="align-bottom">Type</th>
                        <th class="align-bottom">Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(feed, index) in pager.data">
                        <td>{{ feed.tick }}</td>
                        <td>{{ feed.item_type }}</td>
                        <td style="width: 100%">{{ feed.item_text }}</td>
                    </tr>
                </tbody>
                <tfoot v-if="pager.total > this.perPage">
                    <tr>
                        <td colspan="100">
                            <pager :pager.sync="pager" v-if="!loading"></pager>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            perPage: Number
        },
        methods: {
            loadFeed: function() {
                this.loading = true;
                axios.get('/api/v1/feed', {
                    params: {
                        sort: this.sort,
                        page: this.page,
                        perPage: this.per_page
                    }
                })
                .then((response) => {
                    this.loading = false;
                    this.pager = response.data;
                });
            },
            setPage: function(page) {
                this.page = this.page + page;
            }
        },
        data: function () {
            return {
                sort: '-tick',
                page: 1,
                loading: true,
                pager: {},
                per_page: this.perPage
            };
        },
        mounted() {
            this.loadFeed();
        },
        watch: {
           'sort': 'loadFeed',
           'page': 'loadFeed',
           'per_page': 'loadFeed'
        },

    }
</script>
