<template>
    <div class="card card-default has-table mb-3">
        <div class="card-header">
            <span v-if="!loading">{{ galaxy.name }} (<router-link :to="{ name: 'galaxy', params: { id: galaxy.id }}"><a>{{ galaxy.x }}:{{ galaxy.y }}</a></router-link>)</span>
            <div class="float-right">
                <span v-if="galaxy.prev_gal"><router-link :to="{ name: 'galaxy', params: { id: galaxy.prev_gal.id }}"><i class="fas fa-arrow-left"></i></router-link></span>
                <span v-if="galaxy.next_gal"><router-link :to="{ name: 'galaxy', params: { id: galaxy.next_gal.id }}"><i class="fas fa-arrow-right"></i></router-link></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data() {
            return {
                galaxy: {
                    id: this.id,
                },
                loading: true
            };
        },
        methods: {
            loadGalaxy: function() {
                this.loading = true;
                axios.get('/api/v1/galaxies/' + this.id)
                .then((response) => {
                    this.galaxy = response.data;
                    this.loading = false;
                });
            }
        },
        mounted() {
            this.loadGalaxy();
        }
    }
</script>
