<template>
    <i class="fa fa-info-circle" v-tooltip:top="tooltip"></i>
</template>

<style scoped>
    i {
        margin-left: 5px;
    }
</style>
<script>
    export default {
        props: ['tooltip']
    }
</script>
