<template>
    <section>
        <div class="card-body filters">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Mission type</legend>
                        <input type="checkbox" id="mission_attack" v-model="mission.attack" /> 
                        <label for="mission_attack">Attack</label><br/>
                        <input type="checkbox" id="mission_defend" v-model="mission.defend" />
                        <label for="mission_defend">Defend</label><br/>
                        <input type="checkbox" id="mission_unknown" v-model="mission.unknown" />
                        <label for="mission_unknown">Unknown</label>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>Time</legend>
                        <input type="radio" id="since24" name="since" v-model="since" v-bind:value="tick-24">
                        <label for="since24">Last 24h</label><br>
                        <input type="radio" id="since72" name="since" v-model="since" v-bind:value="tick-72">
                        <label for="since72">Last 72h</label><br>
                        <input type="radio" id="since0" name="since" v-model="since" v-bind:value="0">
                        <label for="since0">All</label>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="card-body">
            <preloader :loading.sync="loading"></preloader>
            <table id="planets" class="table table-striped table-bordered" style="width:100%" v-if="!loading && pager.total">
                <thead>
                    <tr>
                    <th>Tick</th>
                    <th>From</th>
                    <th>Target</th>
                    <th>Mission</th>
                    <th>Fleet</th>
                    <th>Eta</th>
                    <th>Race</th>
                    <th>Ships</th>
                    <th>Ally to</th>
                    <th>Lands</th>
                    <th v-if="settings.role == 'Admin'">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="fleet in pager.data"
                        v-bind:class="{ missionattack: fleet.mission_type == 'Attack', missiondefend: fleet.mission_type == 'Defend' }"
                        v-if="(fleet.planet_to && fleet.planet_from)">
                        <td>{{ fleet.tick }}</td>
                        <td><router-link :to="{ name: 'galaxy', params: { id: fleet.planet_from.galaxy_id }}"><a>{{ fleet.planet_from.x }}:{{ fleet.planet_from.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: fleet.planet_from.id }}"><a>{{ fleet.planet_from.z }}</a></router-link></td>
                        <td><router-link :to="{ name: 'galaxy', params: { id: fleet.planet_to.galaxy_id }}"><a>{{ fleet.planet_to.x }}:{{ fleet.planet_to.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: fleet.planet_to.id }}"><a>{{ fleet.planet_to.z }}</a></router-link></td>
                        <td>{{ fleet.mission_type }}</td>
                        <td>{{ fleet.fleet_name }}</td>
                        <td>{{ fleet.eta }}</td>
                        <td><span class="race" v-bind:class="fleet.planet_from.race">{{ fleet.planet_from.race }}</span></td>
                        <td>{{ fleet.ship_count ? fleet.ship_count.toLocaleString() : '' }}</td>
                        <td><router-link v-if="fleet.planet_to.alliance" :to="{ name: 'alliance', params: { id: fleet.planet_to.alliance.id }}"><a>{{ fleet.planet_to.alliance.name }}</a></router-link></td>
                        <td>{{ fleet.land_tick }}</td>
                        <td v-if="settings.role == 'Admin'"><span v-if="(!fleet.planet_to.alliance || !fleet.planet_from.alliance) && (fleet.planet_to.alliance || fleet.planet_from.alliance) &&  fleet.mission_type == 'Defend' && fleet.planet_from.galaxy_id != fleet.planet_to.galaxy_id && fleet.planet_from.alliance_id != fleet.planet_to.alliance_id"><button v-on:click="addIntel(fleet.id)">Add</button></span></td>
                    </tr>
                </tbody>
                <tfoot v-if="pager.total > this.perPage"><tr><td colspan="100"><pager :pager.sync="pager" v-if="!loading"></pager></td></tr></tfoot>
            </table>
            <p v-if="!pager.total && !loading" class="no-data">No outgoing fleets tracked</p>
        </div>
    </section>
</template>

<script>
    export default {
        props: [
                'id', 
                'type', 
                'tick',
                'perPage'
        ],
        data: function () {
            return {
                mission: {
                    attack: true,
                    defend: true,
                    unknown: true
                },
                since: 0,
                ingal: true,
                inally: true,
                settings: {
                    user: {}
                },
                loading: true,
                pager: {}
            };
        },
        methods: {
            addIntel: function(id) {
                event.target.disabled = true;
                axios.post('/api/v1/intel/', { id: id })
                .then((response) => {
                    this.$notify({
                        group: 'foo',
                        title: 'Success',
                        text: 'Intel saved',
                        type: 'success'
                    });
                });
            },
            loadOutgoing: function() {
                this.loading = true;
                axios.get('/api/v1/fleets', {
                    params: {
                        page: this.page,
                        type: this.type,
                        perPage: this.perPage,
                        movement: 'outgoing',
                        mission: this.mission,
                        id: this.id,
                        since: this.since
                    }
                }).then((response) => {
                    this.pager = response.data;
                    this.loading = false;
                });
            }
        },
        mounted() {
            this.settings = this.$parent.settings;
            this.loadOutgoing();
        },
        watch: {
           'mission.attack': 'loadOutgoing',
           'mission.defend': 'loadOutgoing',
           'mission.unknown': 'loadOutgoing',
           'since': 'loadOutgoing'
        },
    }
</script>
