<template>
    <div class="card card-default mb-3 has-table">
        <div class="card-header">
            Overview
        </div>

        <div class="card-body">
            <preloader :loading.sync="loading"></preloader>
            <table id="members" class="table table-striped table-bordered" style="width:100%" v-if="!loading">
                <thead>
                    <tr>
                    <th colspan="2"></th>
                    <th>Rank</th>
                    <th class="text-center" colspan="2">Today's growth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right">Size</td>
                        <td class="text-right"><span v-tooltip:top="data.size.toLocaleString()">{{ data.size | shorten }}</span></td>
                        <td class="text-right">{{ data.rank_size }} <span v-if="data.growth_rank_size > 0" v-tooltip:top="'up ' + data.growth_rank_size + ' places'"><i class="fa fa-caret-up"></i></span><span v-if="data.growth_rank_size < 0" v-tooltip:top="'down ' + Math.abs(data.growth_rank_size) + ' places'"><i class="fa fa-caret-down"></i></span><span v-if="data.growth_rank_size == 0"><i class="fa fa-caret-right"></i></span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_size == 0.0, green: data.growth_percentage_size > 0.0, red: data.growth_percentage_size < 0.0 }"><span v-tooltip:top="data.growth_size.toLocaleString()">{{ data.growth_size | shorten }}</span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_size == 0.0, green: data.growth_percentage_size > 0.0, red: data.growth_percentage_size < 0.0 }">{{ data.growth_percentage_size | shorten }}%</td>
                    </tr>
                    <tr>
                        <td class="text-right">Value</td>
                        <td class="text-right" v-bind:class="{ basher: data.basher }"><span v-tooltip:top="data.value.toLocaleString()">{{ data.value | shorten }}</span></td>
                        <td class="text-right">{{ data.rank_value }} <span v-if="data.growth_rank_value > 0" v-tooltip:top="'up ' + data.growth_rank_value + ' places'"><i class="fa fa-caret-up"></i></span><span v-if="data.growth_rank_value < 0" v-tooltip:top="'down ' + Math.abs(data.growth_rank_value) + ' places'"><i class="fa fa-caret-down"></i></span><span v-if="data.growth_rank_value == 0"><i class="fa fa-caret-right"></i></span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_value == 0.0, green: data.growth_percentage_value > 0.0, red: data.growth_percentage_value < 0.0 }"><span v-tooltip:top="data.growth_value.toLocaleString()">{{ data.growth_value | shorten }}</span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_value == 0.0, green: data.growth_percentage_value > 0.0, red: data.growth_percentage_value < 0.0 }">{{ data.growth_percentage_value | shorten }}%</td>
                    </tr>
                    <tr>
                        <td class="text-right">Score</td>
                        <td class="text-right" v-bind:class="{ basher: data.basher }"><span v-tooltip:top="data.score.toLocaleString()">{{ data.score | shorten }}</span></td>
                        <td class="text-right">{{ data.rank_score }} <span v-if="data.growth_rank_score > 0" v-tooltip:top="'up ' + data.growth_rank_score + ' places'"><i class="fa fa-caret-up"></i></span><span v-if="data.growth_rank_score < 0" v-tooltip:top="'down ' + Math.abs(data.growth_rank_score) + ' places'"><i class="fa fa-caret-down"></i></span><span v-if="data.growth_rank_score == 0"><i class="fa fa-caret-right"></i></span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_score == 0.0, green: data.growth_percentage_score > 0.0, red: data.growth_percentage_score < 0.0 }"><span v-tooltip:top="data.growth_score.toLocaleString()">{{ data.growth_score | shorten }}</span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_score == 0.0, green: data.growth_percentage_score > 0.0, red: data.growth_percentage_score < 0.0 }">{{ data.growth_percentage_score | shorten }}%</td>
                    </tr>
                    <tr>
                        <td class="text-right">Xp</td>
                        <td class="text-right"><span v-tooltip:top="data.xp.toLocaleString()">{{ data.xp | shorten }}</span></td>
                        <td class="text-right">{{ data.rank_xp }} <span v-if="data.growth_rank_xp > 0" v-tooltip:top="'up ' + data.growth_rank_xp + ' places'"><i class="fa fa-caret-up"></i></span><span v-if="data.growth_rank_xp < 0" v-tooltip:top="'down ' + Math.abs(data.growth_rank_xp) + ' places'"><i class="fa fa-caret-down"></i></span><span v-if="data.growth_rank_xp == 0"><i class="fa fa-caret-right"></i></span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_xp == 0.0, green: data.growth_percentage_xp > 0.0, red: data.growth_percentage_xp < 0.0 }"><span v-tooltip:top="data.growth_xp.toLocaleString()">{{ data.growth_xp | shorten }}</span></td>
                        <td class="text-right" v-bind:class="{ yellow: data.growth_percentage_xp == 0.0, green: data.growth_percentage_xp > 0.0, red: data.growth_percentage_xp < 0.0 }">{{ data.growth_percentage_xp | shorten }}%</td>
                    </tr>
                    <tr>
                        <td class="text-right">Round roids</td>
                        <td class="text-right"><span v-tooltip:top="data.round_roids.toLocaleString()">{{ data.round_roids | shorten }}</span></td>
                        <td class="text-right">{{ data.rank_round_roids }} <span v-if="data.rank_round_roids > data.day_rank_round_roids"><i class="fa fa-caret-up"></i></span><span v-if="data.rank_round_roids < data.day_rank_round_roids"><i class="fa fa-caret-down"></i></span><span v-if="data.rank_round_roids == data.day_rank_round_roids"><i class="fa fa-caret-right"></i></span></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="text-right">Lost roids</td>
                        <td class="text-right"><span v-tooltip:top="data.lost_roids.toLocaleString()">{{ data.lost_roids | shorten }}</span></td>
                        <td class="text-right">{{ data.rank_lost_roids }} <span v-if="data.rank_lost_roids > data.day_rank_lost_roids"><i class="fa fa-caret-up"></i></span><span v-if="data.rank_lost_roids < data.day_rank_lost_roids"><i class="fa fa-caret-down"></i></span><span v-if="data.rank_lost_roids == data.day_rank_lost_roids"><i class="fa fa-caret-right"></i></span></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr class="totals" >
                        <td></td>
                        <td class="text-right"><span v-if="type == 'planet'">Ticks roiding</span></td>
                        <td class="text-right"><span v-if="type == 'planet'">{{ data.ticks_roiding }}</span></td>
                        <td class="text-right">Tick roids</td>
                        <td class="text-right"><span v-tooltip:top="'rank '+data.rank_tick_roids">{{ data.tick_roids.toLocaleString() }}</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right"><span v-if="type == 'planet'">Ticks roided</span></td>
                        <td class="text-right"><span v-if="type == 'planet'">{{ data.ticks_roided }}</span></td>
                        <td class="text-right">Av. roids</td>
                        <td class="text-right">{{ parseInt(data.tick_roids / this.tick).toLocaleString() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id', 'type', 'tick'],
        data() {
            return {
                loading: true,
                types: {
                    planet: 'planets',
                    galaxy: 'galaxies'
                },
                data: {}
            };
        },
        methods: {
            loadData: function() {
                this.loading = true;
                axios.get('/api/v1/' + this.types[this.type] + '/' + this.id)
                .then((response) => {
                    this.data = response.data;
                    this.loading = false;
                });
            }
        },
        mounted() {
            this.loadData();
        }
    }
</script>
