<template>
    <div v-if="pager.total > pager.per_page" class="pager text-center">
        <div class="float-left">
            <button class="btn btn-primary btn-sm" v-on:click="start" title="first page" v-bind:class="{ faded: pager.current_page == 1 }">
                <i class="fa fa-step-backward clickable"></i>
            </button>
            <button class="btn btn-primary btn-sm" v-on:click="prev" title="previous" v-bind:class="{ faded: !pager.prev_page_url }">
                <i class="fa fa-chevron-left clickable"></i>
            </button>
        </div>
        {{ pager.from }}-{{ pager.to}} of {{ pager.total }}
        <div class="float-right">
            <button class="btn btn-primary btn-sm" v-on:click="next" title="next" v-bind:class="{ faded: !pager.next_page_url }">
                <i class="fa fa-chevron-right clickable"></i>
            </button>
            <button class="btn btn-primary btn-sm" v-on:click="end" title="last page" v-bind:class="{ faded: pager.current_page == pager.last_page }">
                <i class="fa fa-step-forward clickable"></i>
            </button>
        </div>
        <div class="clear"></div>
    </div>
</template>

<script>
    export default {
        props: ['pager'],
        methods: {
            next: function() {
                if(!this.pager.next_page_url) return;
                this.fetch(this.pager.next_page_url);
            },
            prev: function() {
                if(!this.pager.prev_page_url) return;
                this.fetch(this.pager.prev_page_url);
            },
            end: function() {
                if(this.pager.current_page == this.pager.last_page) return;
                this.fetch(this.pager.last_page_url);
            },
            start: function() {
                if(this.pager.current_page == 1) return;
                this.fetch(this.pager.first_page_url);
            },
            fetch: function(url) {
                this.$parent.loading = true;
                axios.get(url).then((response) => {
                    this.$parent.data = response.data.data;
                    this.$parent.pager = response.data;
                    this.$parent.loading = false;
                });
            }
        }
    }
</script>
