<template>
    <div class="card card-default mb-3 has-table">
        <div class="card-header">Scans</div>

        <div class="card-body">
            <preloader :loading.sync="loading"></preloader>
            <table class="table table-striped table-bordered" style="width:100%;table-layout: auto;" v-if="pager.total && !loading">
                <thead>
                    <tr>
                        <th>Tick</th>
                        <th>Scans</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in data">
                        <td>{{ item.tick }}</td>
                        <td>
                            <span class="scans-btn">
                                <span v-for="scan in item.scans">
                                    <scan :scan="scan" :tick="tick"></scan>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot v-if="pager.total > pager.per_page"><tr><td colspan="100"><pager :pager.sync="pager" v-if="!loading"></pager></td></tr></tfoot>
            </table>
            <p v-if="!pager.total && !loading" class="no-data">No scans stored for this planet</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id', 'tick'],
        data() {
            return {
                data: {},
                page: 1,
                loading: true,
                pager: {}
            };
        },
        methods: {
            loadScans: function() {
                this.loading = true;
                axios.get('/api/v1/planets/' + this.id + '/scans', {
                    params: {
                        page: this.page
                    }
                })
                .then((response) => {
                    this.data = response.data.data;
                    this.pager = response.data;
                    this.loading = false;
                });
            }
        },
        watch: {
           '$route': 'loadScans'
        },
        mounted() {
            this.loadScans();
        }
    }
</script>
