<template>
    <div class="card card-default mb-3 has-table">
        <div class="card-header">
            Race breakdown <help-icon :tooltip="'Shows the races of members recorded in intel'"></help-icon>
        </div>

        <div class="card-body">
            <preloader :loading.sync="racesLoading"></preloader>
            <span v-if="!racesLoading">
                <GChart
                    type="PieChart"
                    :data="races"
                    :options="raceChartOptions"
                />
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id', 'type'],
        data() {
            return {
                racesLoading: true,
                races: {},
                raceChartOptions: {
                    title: '',
                    backgroundColor: {
                      stroke: '#424242',
                      fill: '#424242',
                      strokeWidth: '0'
                    },
                    height: '300',
                    pieSliceText: 'value',
                    legend: {
                        textStyle: {
                            color: '#fff'
                        },
                        labelValueText: 'both',
                        alignment: 'center'
                    },
                    slices: [
                      { color: '#aa7744' },
                      { color: '#6699cc' },
                      { color: '#00cc00' },
                      { color: '#cccc00' },
                      { color: '#cccccc' },
                      { color: '#a94dff' },
                      { color: '#ff0080' },
                    ],
                    pieSliceBorderColor: '#424242'
                }
            };
        },
        methods: {
            loadRaces: function() {
                this.racesLoading = true;
                axios.get('/api/v1/'+ this.type +'/' + this.id + '/races')
                .then((response) => {
                    this.races = response.data;
                    this.racesLoading = false;
                });
            },
        },
        mounted() {
            this.loadRaces();
        },
    }
</script>
