<template>
    <div class="card card-default mb-3 has-table" v-if="ranks.length">
        <div class="card-header">
            Rank History
        </div>

        <div class="card-body embed-responsive embed-responsive-16by9">
            <GChart
                class="embed-responsive-item"
                type="LineChart"
                :data="ranks"
                :options="rankChartOptions"
            />
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id', 'type'],
        data() {
            return {
                ranks: {},
                rankChartOptions: {
                    backgroundColor: {
                      stroke: '#424242',
                      fill: '#424242',
                      strokeWidth: '0'
                    },
                    height: '100%',
                    hAxis: {
                        textStyle: {
                            color: '#fff',
                        },
                        minValue: 0,
                    },
                    vAxis: {
                        textStyle: {
                            color: '#fff',
                        },
                        direction: -1,
                        minValue: 0
                    },
                    legend: {
                        textStyle: {
                            color: '#fff'
                        }
                    }
                },
                types: {
                    planet: 'planets',
                    galaxy: 'galaxies'
                },
            };
        },
        methods: {
            loadData: function() {
                axios.get('/api/v1/' + this.types[this.type] + '/' + this.id + '/ranks')
                .then((response) => {
                    this.loading = false;
                    this.ranks = response.data;
                });
            }
        },
        mounted() {
            this.loadData();
        }
    }
</script>
