<template>
    <span>
        <template v-if="planet.latest_p">
            <a v-if="planet.latest_p.scan.tick >= (tick-24)" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+planet.latest_p.scan.pa_id" target="_blank" v-bind:class="{ new: planet.latest_p.scan.tick >= (tick-1), mid: (planet.latest_p.scan.tick >= (tick-12) && planet.latest_p.scan.tick < (tick-1)), old: planet.latest_p.scan.tick >= (tick-24)  && planet.latest_p.scan.tick < (tick-12) }">P</a>
        </template>
        <template v-if="planet.latest_d">
            <a v-if="planet.latest_d.scan.tick >= (tick-24)" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+planet.latest_d.scan.pa_id" target="_blank" v-bind:class="{ new: planet.latest_d.scan.tick >= (tick-1), mid: (planet.latest_d.scan.tick >= (tick-12) && planet.latest_d.scan.tick < (tick-1)), old: planet.latest_d.scan.tick >= (tick-24) && planet.latest_d.scan.tick < (tick-12) }">D</a>
        </template>
        <template v-if="(!planet.latest_a || planet.latest_a.tick < (tick-24)) && planet.latest_u">
            <a v-if="planet.latest_u.tick >= (tick-24)" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+planet.latest_u.pa_id" target="_blank" v-bind:class="{ new: planet.latest_u.tick >= (tick-1), mid: (planet.latest_u.tick >= (tick-12) && planet.latest_u.tick < (tick-1)), old: planet.latest_u.tick >= (tick-24) && planet.latest_u.tick < (tick-12) }">U</a>
        </template>
        <template v-if="planet.latest_n">
            <a v-if="planet.latest_n.scan.tick >= (tick-24)" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+planet.latest_n.scan.pa_id" target="_blank" v-bind:class="{ new: planet.latest_n.scan.tick >= (tick-1), mid: (planet.latest_n.scan.tick >= (tick-12) && planet.latest_n.scan.tick < (tick-1)), old: planet.latest_n.scan.tick >= (tick-24) && planet.latest_n.scan.tick < (tick-12) }">N</a>
        </template>
        <template v-if="planet.latest_j">
            <a v-if="planet.latest_j.scan.tick >= (tick-24)" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+planet.latest_j.scan.pa_id" target="_blank" v-bind:class="{ new: planet.latest_j.scan.tick >= (tick-1), mid: (planet.latest_j.scan.tick >= (tick-12) && planet.latest_j.scan.tick < (tick-1)), old: planet.latest_j.scan.tick >= (tick-24) && planet.latest_j.scan.tick < (tick-12) }">J</a>
        </template>
        <template v-if="planet.latest_a">
            <a v-if="planet.latest_a.tick >= (tick-24)" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+planet.latest_a.pa_id" target="_blank" v-bind:class="{ new: planet.latest_a.tick >= (tick-1), mid: (planet.latest_a.tick >= (tick-12) && planet.latest_a.tick < (tick-1)), old: planet.latest_a.tick >= (tick-24) && planet.latest_a.tick < (tick-12) }">A</a>
        </template>
    </span>
</template>

<script>
    export default {
        props: ['planet', 'tick']
    }
</script>
