<template>
    <span>
        <template>
            <a class="scan btn-sm btn-link" v-bind:href="'https://game.planetarion.com/showscan.pl?scan_id='+scan.pa_id" target="_blank" v-bind:class="{ new: scan.tick >= (tick-1), mid: (scan.tick >= (tick-12) && scan.tick < (tick-1)), old: scan.tick < (tick-12) }">{{ scan.type }}</a>
        </template>
    </span>
</template>

<script>
    export default {
        props: ['scan', 'tick']
    }
</script>
