<template>
    <div class="card card-default mb-3 has-table" v-if="pager.total">
        <div class="card-header">
            {{ status.charAt(0).toUpperCase() + status.slice(1) }} wars <i class="fa fa-info-circle" v-tooltip:top="'A list of ' + status + ' wars.'" style="margin-left: 5px;"></i>
        </div>

        <div class="card-body">
            <preloader :loading.sync="loading"></preloader>
            <table id="wars" class="table table-striped table-bordered" style="width:100%" v-if="!loading && pager.total">
                <thead>
                    <tr>
                        <th>Alliance</th>
                        <th>At War With</th>
                        <th>
                            <span v-if="status == 'current'">Remaining</span>
                            <span v-if="status == 'expired'">Expired</span>
                        </th>
                        <th>Wars Against</th>
                        <th>Total Wars</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="war in pager.data" v-bind:key="war.id" class="war">
                        <td><router-link v-if="war.alliance_one" :to="{ name: 'alliance', params: { id: war.alliance_one.id }}"><a>{{ war.alliance_one.name }}</a></router-link></td>
                        <td><router-link v-if="war.alliance_two" :to="{ name: 'alliance', params: { id: war.alliance_two.id }}"><a>{{ war.alliance_two.name }}</a></router-link></td>
                        <td>
                            <span v-if="status == 'expired'">
                                {{ war.expires + " (" + (tick-war.expires) + " ticks ago)" }}
                            </span>
                            <span v-if="status == 'current'">
                                {{ war.expires-tick }} ticks
                            </span>
                        </td>	
                        <td>{{ war.war_count }}</td>
                        <td>{{ war.total_war_count }}</td>						
                    </tr>
                </tbody>
                <tfoot v-if="pager.total > pager.per_page"><tr><td colspan="100"><pager :pager.sync="pager" v-if="!loading"></pager></td></tr></tfoot>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'status',
            'perPage',
            'tick',
            'alliance',
        ],
        data: function () {
            return {
                loading: true,
                data: {},
                pager: {}
            };
        },
        methods: {
            loadWars: function() {
                this.loading = true;
                axios.get('api/v1/relations', {
                    params: {
                        sort: "-id",
                        perPage: this.perPage,
                        status: this.status,
                        type: "war",
                        alliance: this.alliance
                    }
                })
                .then((response) => {
                    this.data = response.data.data;
                    this.pager = response.data;
                    this.loading = false;
                });
            },
        },
        mounted() {
            this.loadWars();
        },
    }
</script>
