<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Account</div>

                    <div class="card-body">
                        <preloader :loading.sync="userLoading"></preloader>
                        <form v-if="!userLoading">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">PA Nick <help-icon :tooltip="'The nickname you are known by ingame'"></help-icon></label><br>
                                        <input type="text" v-model="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Password</label><br/>
                                        <button v-if="!editPassword" class="btn btn-sm btn-link" v-on:click="editPassword = true;">edit</button>
                                        <input v-if="editPassword" type="text" v-model="password" placeholder="Leave blank for no change">
                                        <button v-if="editPassword" class="btn btn-sm btn-danger" v-on:click="editPassword = false;">cancel</button><br/>
                                    </div>
                                    <div class="form-group">
                                        <label for="timezone">Timezone (relative to UTC)</label> <help-icon :tooltip="'Used in various places for a better user experience'"></help-icon><br>
                                        <select v-model="timezone">
                                            <option v-bind:value="'-12:00'">-12</option>
                                            <option v-bind:value="'-11:00'">-11</option>
                                            <option v-bind:value="'-10:00'">-10</option>
                                            <option v-bind:value="'-09:00'">-9</option>
                                            <option v-bind:value="'-08:00'">-8</option>
                                            <option v-bind:value="'-07:00'">-7</option>
                                            <option v-bind:value="'-06:00'">-6</option>
                                            <option v-bind:value="'-05:00'">-5</option>
                                            <option v-bind:value="'-04:00'">-4</option>
                                            <option v-bind:value="'-03:00'">-3</option>
                                            <option v-bind:value="'-02:00'">-2</option>
                                            <option v-bind:value="'-01:00'">-1</option>
                                            <option v-bind:value="'+00:00'">0</option>
                                            <option v-bind:value="'+01:00'">+1</option>
                                            <option v-bind:value="'+02:00'">+2</option>
                                            <option v-bind:value="'+03:00'">+3</option>
                                            <option v-bind:value="'+04:00'">+4</option>
                                            <option v-bind:value="'+05:00'">+5</option>
                                            <option v-bind:value="'+06:00'">+6</option>
                                            <option v-bind:value="'+07:00'">+7</option>
                                            <option v-bind:value="'+08:00'">+8</option>
                                            <option v-bind:value="'+09:00'">+9</option>
                                            <option v-bind:value="'+10:00'">+10</option>
                                            <option v-bind:value="'+11:00'">+11</option>
                                            <option v-bind:value="'+12:00'">+12</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label> <help-icon :tooltip="'Used for Planetarion Notifications and !call or !sms in Telegram channel'"></help-icon><br>
                                        <input type="text" v-model="phone">
                                    </div>
                                    <div class="form-group" v-if="settings.twilio || settings.infobip">
                                        <label>
                                            <input type="checkbox" v-model="allow_calls"/>
                                            Allow calls
                                        </label>
                                        <i class="fa fa-info-circle" v-tooltip:top="'Allow phone to be used for calls'" style="margin-left: 5px;"></i>
                                        <br/>
                                        <label>
                                            <input type="checkbox" v-model="allow_notifications"/>
                                            Allow sms
                                        </label>
                                        <i class="fa fa-info-circle" v-tooltip:top="'Allow phone to be used for sms'" style="margin-left: 5px;"></i>
                                        <br/>
                                        <span v-if="allow_calls || allow_notifications">
                                            <label>
                                                <input type="checkbox" v-model="allow_night"/>
                                                Allow outside online schedule
                                            </label>
                                            <i class="fa fa-info-circle" v-tooltip:top="'Allow phone to be used for sms or calls outside of your online schedule settings'" style="margin-left: 5px;"></i><br/>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">Notes</label> <help-icon :tooltip="'Any information about online times, when to call, etc'"></help-icon><br/>
                                        <textarea v-model="notes"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" v-if="settings.telegram">
                                        <label for="telegram_user_id">Telegram ID</label> <help-icon :tooltip="'Type !setnick <PA Nick> into Telegram channel'"></help-icon><br/>
                                        <input type="number" v-model="telegram_user_id" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="notification_email">Notifications Email</label> <help-icon :tooltip="'Add this email address to Planetarion Preferences'"></help-icon><br/>
                                        <input type="text" v-model="notification_email" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Notifications Email Forward</label> <help-icon :tooltip="'Forward notifications to this address (blank for none)'"></help-icon><br/>
                                        <input type="text" v-model="notification_email_forward">
                                    </div>
                                    <div class="form-group">
                                        <label for="coords">Your Co-ords</label><br>
                                        <input type="number" id="coord_x" placeholder="x" size="2" v-model.number="x" style="width: 40px"> : 
                                        <input type="number" id="coord_y" placeholder="y" size="2" v-model.number="y" style="width: 40px"> : 
                                        <input type="number" id="coord_z" placeholder="z" size="2" v-model.number="z" style="width: 40px">
                                    </div>
                                    <div class="form-group">
                                        <label for="distorters">Distorters</label> <help-icon :tooltip="'Used to display whether or not you can be scanned by targets on attack page'"></help-icon><br>
                                        <input type="number" v-model="distorters">
                                    </div>
                                    <div class="form-group">
                                        <label for="stealth">Stealth</label> <help-icon :tooltip="'Used on the covop page to calculate chance of success'"></help-icon><br>
                                        <input type="number" v-model="stealth">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" v-on:click="handleSubmit()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <schedule :user_id.sync="settings.user.id"></schedule>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                'account': {},
                'name': '',
                'x': '',
                'y': '',
                'z': '',
                'timezone': '',
                'notes': '',
                'phone': '',
                'distorters': '',
                'military_centres': '',
                'telegram_user_id': '',
                'password': '',
                'allow_night': '',
                'allow_calls': '',
                'allow_notifications': '',
                'notification_email': '',
                'notification_email_forward': '',
                editPassword: false,
                stealth: '',
                userLoading: true
            };
        },
        methods: {
            handleSubmit() {
                axios.put('/api/v1/account/' + this.account.id, {
                    x: this.x,
                    y: this.y,
                    z: this.z,
                    name: this.name,
                    timezone: this.timezone,
                    notes: this.notes,
                    phone: this.phone,
                    distorters: this.distorters,
                    military_centres: this.military_centres,
                    stealth: this.stealth,
                    password: this.password,
                    allow_calls: this.allow_calls,
                    allow_night: this.allow_night,
                    allow_notifications: this.allow_notifications,
                    notification_email: this.notification_email_forward,
                    notification_email_forward: this.notification_email_forward
                    
                }).then((response) => {
                    this.$parent.loadSettings();
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'Details saved',
                      type: 'success'
                    });
                });
            }
        },
        mounted() {
            axios.get('/api/v1/account')
            .then((response) => {
                this.account			        = response.data;
                this.name			            = this.account.name;
                this.timezone		            = this.account.timezone;
                this.notes			            = this.account.notes;
                this.phone			            = this.account.phone;
                this.distorters		            = this.account.distorters;
                this.military_centres           = this.account.military_centres
                this.telegram_user_id		        = this.account.telegram_user_id;
                this.stealth			        = this.account.stealth;
                this.notification_email         = this.account.notification_email;
                this.allow_calls		        = this.account.allow_calls;
                this.allow_night		        = this.account.allow_night;
                this.allow_notifications        = this.account.allow_notifications;
                this.notification_email         = this.account.notification_email;
                this.notification_email_forward = this.account.notification_email_forward;
                
                if(this.account.planet) {
                  this.x = this.account.planet.x;
                  this.y = this.account.planet.y;
                  this.z = this.account.planet.z;
                }
                this.userLoading = false;
            });
        },
    }
</script>
