<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Intel parser</div>

                    <div class="card-body">
                        <small>Use the field below to update intel on the site from ingame. Go to Alliance > Intel > Export, you need to see the full xml format, you can do this by viewing the page source. Copy and paste this whole page into the field below.</small><br/><br/>
                        <form @submit.prevent="submitIntel">
                            <div class="form-group">
                                <label for="name">XML</label><br>
                                <textarea v-model="xml"></textarea><br/>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-3">
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">Settings</div>

                    <div class="card-body">
                        <preloader :loading.sync="loadingAdmin"></preloader>
                        <div v-if="!loadingAdmin">
                            <form @submit.prevent="submitAdmin">
                                <div class="form-group">
                                    <label for="name">Alliance <i class="fa fa-info-circle" v-tooltip:top="'Set the alliance using the webby, additional functionality will be enabled.'" style="margin-left: 5px;"></i></label><br>
                                    <select v-model="admin.alliance">
                                        <option v-for="option in alliances.data" v-bind:value="option.id">
                                        {{ option.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label>
                                            <input type="checkbox" v-model="admin.enable_web_scans"/>
                                            Allow scan requests on webby
                                        </label>
                                        <i class="fa fa-info-circle" v-tooltip:top="'Allow scans to be requested on the Scans page of webby.'" style="margin-left: 5px;"></i>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="checkbox" v-model="admin.show_political_deals"/>
                                            Show political deals to members
                                        </label>
                                        <i class="fa fa-info-circle" v-tooltip:top="'Shows the alliances current political deals on the poltics page.'" style="margin-left: 5px;"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    Parse <input type="number" v-model="admin.scans_per_second" size="5" style="width: 50px"/> scans per second.
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        Telegram [<span v-bind:class="{ positive: settings.telegram, negative: !settings.telegram }">{{ settings.telegram ? 'enabled' : 'disabled' }}</span>]
                    </div>

                    <div class="card-body">
                        <preloader :loading.sync="loadingAdmin"></preloader>
                        <div v-if="!loadingAdmin">
                            Admin <i class="fa fa-info-circle" v-tooltip:top="'get telegram id from bot - !whoami - and add TELEGRAM_ADMINS=<id> to .env file.'" style="margin-left: 5px;"></i><br/>  
                            <p v-if='admin.tg_admin'>{{ admin.tg_admin.name }}</p>
                            <p v-if='!admin.tg_admin'><i>not set</i></p>
                            Notifications Channel <i class="fa fa-info-circle" v-tooltip:top="'use !addnotificationschannel in channel you want to receive notifications.'" style="margin-left: 5px;"></i><br/> 
                            <p v-if="admin.tg_notifications_channel">{{ admin.tg_notifications_channel.title }} (id: {{ admin.tg_notifications_channel.id }})</p>
                            <p v-if="!admin.tg_notifications_channel"><i>not set</i></p>
                            Scans Channel <i class="fa fa-info-circle" v-tooltip:top="'use !addscanschannel in channel you want to receive scan requests.'" style="margin-left: 5px;"></i><br/> 
                            <p v-if="admin.tg_scans_channel">{{ admin.tg_scans_channel.title }} (id: {{ admin.tg_scans_channel.id }})</p>
                            <p v-if="!admin.tg_scans_channel"><i>not set</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-3">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Activities</div>

                    <div class="card-body">
                        <p>Below you can view a list of every request made to the api. This does not correspond directly to the url routes but should give you an idea of what people are accessing.</p>
                        <router-link :to="{ name: 'activity' }"><a><button class="btn btn-primary">Logs</button></a></router-link>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-3">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Reset</div>

                    <div class="card-body">
                        <p>Press the button below to reset webby for new round. This will delete all current data except members from the webby and it will parse ship stats.</p>
                        <button class="btn btn-primary" v-on:click="reset()">Reset tools</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import { VueEditor } from 'vue2-editor';
    export default {
        props: ['settings'],
        components: {
            VueEditor
        },
        data() {
            return {
                xml: "",
                admin: "",
                alliances: {},
                loadingAlliances: true,
                loadingAdmin: true
            };
        },
        methods: {
            submitIntel() {
                axios.post('/api/v1/admin/intel', {
                    xml: this.xml
                }).then((response) => {
                    this.xml = "";
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'Intel was parsed',
                      type: 'success'
                    });
                });
            },
            submitAdmin() {
                axios.post('/api/v1/admin', {
                    alliance: this.admin.alliance,
                    enable_web_scans: this.admin.enable_web_scans,
                    show_political_deals: this.admin.show_political_deals,
                    scans_per_second: this.admin.scans_per_second
                }).then((response) => {
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'Settings saved',
                      type: 'success'
                    });
                });
            },
            reset: function() {
                if(confirm("Are you sure you want to reset tools?")) {
                    axios.get('/api/v1/admin/reset')
                    .then((response) => {
                        this.$notify({
                          group: 'foo',
                          title: 'Success',
                          text: 'Tools were reset',
                          type: 'success'
                        });
                    });
                }

            },
            loadAlliances: function() {
                axios.get('/api/v1/alliances', {
                    params: {
                        sort: "+name",
                        perPage: 999
                    }
                })
                .then((response) => {
                    this.alliances = response.data;
                    this.loadingAlliances = false;
                });
            },
            loadAdmin: function() {
                axios.get('/api/v1/admin')
                .then((response) => {
                    this.admin = response.data;
                    this.loadingAdmin = false;
                });
            }
        },
        mounted() {
            this.loadAdmin();
            this.loadAlliances();
        }
    }
</script>
