<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default has-table">
                    <div class="card-header">Outgoing fleets - <router-link :to="{ name: 'alliance', params: { id: alliance.id }}"><a>{{ alliance.name }}</a></router-link></div>

                    <outgoing-component v-bind:tick="settings.tick" :id.sync="this.id" :perPage.sync="this.perPage" :type.sync="this.type"></outgoing-component>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                alliance: {},
                fleets: {},
                page: 1,
                type: 'alliance',
                loading: true,
                perPage: 100,
                id: this.$route.params.id
            };
        },
        methods: {
            loadAlliance: function() {
                axios.get('/api/v1/alliances/' + this.$route.params.id + '?all=1')
                .then((response) => {
                    this.alliance = response.data;
                });
            }
        },
        watch: {
           '$route': 'loadAlliance'
        },
        mounted() {
            this.loadAlliance();
        },
    }
</script>
