<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <feed-list :perPage="10"></feed-list>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
    }
</script>
