<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <galaxy-title :id.sync="id"></galaxy-title>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <overview :id.sync="id" :type="'galaxy'" :tick.sync="settings.tick"></overview>
            </div>
            <div class="col-md-6">
                <rank-history :type="'galaxy'" :id.sync="id"></rank-history>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <planet-list :sort="'+coords'" :perPage="50" :scans="true" :galaxy="this.id" :tech="true" :allianceCount="false" :galRank="false"></planet-list>
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <outgoing-summary :type="'galaxy'" :id.sync="id"></outgoing-summary>
            </div>
            <div class="col-md-6">
                <incoming-summary :type="'galaxy'" :id.sync="id"></incoming-summary>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <galaxy-history :id.sync="id"></galaxy-history>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <planet-movements :id.sync="id" :type="'galaxy'"></planet-movements>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                id: Number(this.$route.params.id)
            };
        },
    }
</script>
