<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default has-table">
                    <div class="card-header">Incoming fleets - <router-link :to="{ name: 'galaxy', params: { id: galaxy.id }}"><a>{{ galaxy.name }}</a></router-link></div>

                    <incoming-component v-bind:tick="settings.tick" :id.sync="this.id" :perPage.sync="this.perPage" :type.sync="this.type"></incoming-component>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                galaxy: {},
                fleets: {},
                page: 1,
                type: 'galaxy',
                loading: true,
                id: this.$route.params.id,
                perPage: 100
            };
        },
        methods: {
            loadGalaxy: function() {
                axios.get('/api/v1/galaxies/' + this.$route.params.id + '?all=1')
                .then((response) => {
                    this.galaxy = response.data;
                });
            },
        },
        watch: {
           '$route': 'loadGalaxy'
        },
        mounted() {
            this.loadGalaxy();
        },
    }
</script>
