<template>

    <main class="my-3">
        <div class="row justify-content-center my-2">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        Overview 
                        <a class="float-right btn-edit" v-on:click="editOverview = !editOverview">{{ editOverview ? "close" : "edit" }}</a>
                    </div>

                    <div class="card-body">
                        <div v-if="settings"><div v-html="settings.overview"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-2" v-if="settings.role == 'Admin' && editOverview">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Admin</div>

                    <div class="card-body">
                        <form @submit.prevent="submitSettings">
                            <div class="form-group">
                                <vue-editor v-model="settings.overview"></vue-editor>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

</template>

<script>
    import { VueEditor } from 'vue2-editor';
    export default {
        props: ['settings'],
        components: {
            VueEditor
        },
        data() {
            return {
                stats: {},
                editOverview: false
            };
        },
        methods: {
            submitSettings() {
                axios.post('/api/v1/admin', {
                    overview: this.settings.overview
                }).then((response) => {
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'Overview saved',
                      type: 'success'
                    });
                });
            },
        },
        mounted() {
            axios.get('/api/v1/stats')
            .then((response) => {
                this.stats = response.data;
            });
            this.$parent.links = [];
        }
    }
</script>
