<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="card card-default has-table mb-3" v-if="settings.role == 'Admin' && registered.length">
                  <div class="card-header">New</div>

                  <div class="card-body">
                      <table id="members" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Nick</th>
                              <th>Email</th>
                              <th class="options">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(member, index) in registered" v-bind:class="{ 'text-danger': !member.is_enabled }">
                                <td>{{ index+1 }}</td>
                                <td>{{ member.name }}</td>
                                <td>{{ member.email }}</td>
                                <td class="options">
                                    <span v-if="member.id != 1">
                                        <span v-if="!member.is_enabled"><button v-on:click="enable(member.id)" class="btn btn-sm btn-success">enable</button></span>
                                        <span><button v-on:click="remove(member.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
                <div class="card card-default has-table mb-3">     
                    <div class="card-header">Members <span class="float-right" v-if="!loadingEnabled"><span class="toggle-wrapper" style="margin-left: 0"><span class="toggle-label">Show ships</span><toggle-button :width="40" v-model="showShips" class="toggle-button" /></span></span></div>

                    <div class="card-body">
                        <preloader :loading.sync="loadingEnabled"></preloader>
                        <table id="members" class="table table-striped table-bordered" style="width:100%" v-if="!loadingEnabled">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nick</th>
                                    <th v-if="settings.telegram">Telegram</th>
                                    <th>Scanner</th>
                                    <th v-if="settings.email_notifications">Notifications</th>
                                    <th>Userscript</th>
                                    <th>Role</th>
                                    <th>Co-ords</th>
                                    <th v-if="showShips">Ships</th>
                                    <th>Phone</th>
                                    <th>Local Time</th>
                                    <th>Notes</th>
                                    <th v-if="settings.role == 'Admin'">Last login</th>
                                    <th v-if="settings.role == 'Admin'" class="options">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(member, index) in enabled" v-bind:class="{ 'text-danger': !member.is_enabled }">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ member.name }}</td>
                                    <td v-if="settings.telegram">
                                        <span v-if="member.bot_user">
                                            <span v-if="member.bot_user.username || member.bot_user.first_name">
                                                <span v-if="member.bot_user.first_name">{{ member.bot_user.first_name }} </span> 
                                                <span v-if="member.bot_user.last_name"> {{ member.bot_user.last_name }} </span>
                                                <a v-if="member.bot_user.username" target="_BLANK" v-bind:href="'https://t.me/' + member.bot_user.username">({{ member.bot_user.username }})</a>
                                            </span>
                                        </span>
                                        <span v-if="!member.bot_user">not set</span>
                                    </td>
                                    <td>
                                        <span v-if="settings.role == 'Admin'">
                                            <input type="checkbox" v-model="member.is_scanner" v-on:change="changeScanner(member)" />
                                        </span>
                                        <span v-if="settings.role != 'Admin'">
                                            <i v-if="member.is_scanner == 1" class="green fa fa-check-circle"></i>
                                            <i v-if="member.is_scanner == 0" class="red fa fa-times-circle"></i>
                                        </span>
                                    </td>
                                    <td v-if="settings.email_notifications">
                                        <i v-if="member.has_notifications == 1" class="green fa fa-check-circle"></i>
                                        <i v-if="member.has_notifications == 0" class="red fa fa-times-circle"></i>
                                        <i v-if="member.has_notifications == null" class="yellow fa fa-question-circle"></i>
                                    </td>
                                    <td>
                                        <i v-if="member.has_user_script == 1" class="green fa fa-check-circle"></i>
                                        <i v-if="member.has_user_script == 0" class="red fa fa-times-circle"></i>
                                    </td>
                                    <td>
                                        <change-role :settings='settings' :roles='roles' :member='member'></change-role>
                                    </td>
                                    <td><span v-if="member.planet"><router-link :to="{ name: 'galaxy', params: { id: member.planet.galaxy_id }}"><a>{{ member.planet.x }}:{{ member.planet.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: member.planet.id }}"><a>{{ member.planet.z }}</a></router-link></span></td>
                                    <td v-if="showShips">
                                        <table v-if="member.ships.length">
                                            <tr v-for="(ship) in member.ships">
                                                <td>{{ ship.name }}</td>
                                                <td>{{ ship.amount }}</td>
                                                <td>{{ ship.percentage }}%</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td><span v-if="member.phone"><call-component :member.sync="member" v-if="(settings.twilio || settings.infobip) && member.allow_calls"></call-component> {{ member.phone }}</span></td>
                                    <td>{{ member.timezone }}</td>
                                    <td>{{ member.notes }}</td>
                                    <td v-if="settings.role == 'Admin'">{{ member.last_login }}</td>
                                    <td v-if="settings.role == 'Admin'" class="options">
                                        <span v-if="member.id != 1">
                                            <router-link :to="{ name: 'member', params: { id: member.id }}"><a><button class="btn btn-sm btn-primary"><i class="fa fa-cog"></i></button></a></router-link>
                                            <span v-if="member.is_enabled"><button v-on:click="disable(member.id)" class="btn btn-sm btn-danger">disable</button></span>
                                            <span v-if="!member.is_enabled"><button v-on:click="enable(member.id)" class="btn btn-sm btn-success">enable</button></span>
                                            <span><button v-on:click="remove(member.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card card-default has-table" v-if="settings.role == 'Admin' && disabled.length">
                    <div class="card-header">Disabled</div>

                    <div class="card-body">
                        <table id="members" class="table table-striped table-bordered" style="width:100%">
                          <thead>
                              <tr>
                                <th>#</th>
                                <th>Nick</th>
                                <th>Co-ords</th>
                                <th>Phone</th>
                                <th>Local Time</th>
                                <th>Notes</th>
                                <th class="options">Options</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr v-for="(member, index) in disabled" v-bind:class="{ 'text-danger': !member.is_enabled }">
                                  <td>{{ index+1 }}</td>
                                  <td>{{ member.name }}</td>
                                  <td><span v-if="member.planet"><router-link :to="{ name: 'galaxy', params: { id: member.planet.galaxy_id }}"><a>{{ member.planet.x }}:{{ member.planet.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: member.planet.id }}"><a>{{ member.planet.z }}</a></router-link></span></td>
                                  <td>{{ member.phone }}</td>
                                  <td>{{ member.timezone }}</td>
                                  <td>{{ member.notes }}</td>
                                  <td v-if="settings.role == 'Admin'" class="options">
                                      <span v-if="member.id != 1">
                                          <span v-if="!member.is_enabled"><button v-on:click="enable(member.id)" class="btn btn-sm btn-success">enable</button></span>
                                          <span><button v-on:click="remove(member.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></span>
                                      </span>
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                'enabled': {},
                'disabled': {},
                'registered': {},
                'roles': {},
                'user': {},
                'showShips': false,
                loadingEnabled: true,
                loadingDisabled: true,
                loadingRegister: true,
            };
        },
        methods: {
            call: function(id) {
                axios.get('/api/v1/members/'+id+'/call')
                .then((response) => {});
            },
            disable: function(id) {
                axios.get('/api/v1/members/'+id+'/disable')
                .then((response) => {
                    this.members = response.data;
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'User disabled',
                      type: 'success'
                    });
                    this.loadNew();
                    this.loadEnabled();
                });
            },
            enable: function(id) {
                axios.get('/api/v1/members/'+id+'/enable')
                .then((response) => {
                    this.members = response.data;
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'User enabled',
                      type: 'success'
                    });
                    this.loadNew();
                    this.loadEnabled();
                });
            },
            changeScanner: function(member) {
                axios.put('/api/v1/members/'+member.id, {
                    is_scanner: member.is_scanner
                })
                .then((response) => {
                    this.members = response.data;
                    this.$notify({
                      group: 'foo',
                      title: 'Success',
                      text: 'User updated',
                      type: 'success'
                    });
                    this.loadEnabled();
                });
            },
            remove: function(id) {
                if(confirm("Are you sure?")) {
                    axios.get('/api/v1/members/'+id+'/delete')
                    .then((response) => {
                        this.members = response.data;
                        this.$notify({
                          group: 'foo',
                          title: 'Success',
                          text: 'User deleted',
                          type: 'success'
                        });
                        this.loadEnabled();
                    });
                }

            },
            loadEnabled: function() {
                this.loadingEnabled = true;
                axios.get('/api/v1/members', {
                    params: {
                        type: 'enabled'
                    }
                })
                .then((response) => {
                    this.enabled = response.data;
                    this.loadingEnabled = false;
                });
            },
            loadDisabled: function() {
                this.loadingDisabled = true;
                axios.get('/api/v1/members', {
                    params: {
                        type: 'disabled'
                    }
                })
                .then((response) => {
                    this.disabled = response.data;
                    this.loadingDisabled = false;
                });
            },
            loadNew: function() {
                this.loadingRegister = true;
                axios.get('/api/v1/members', {
                    params: {
                        type: 'new'
                    }
                })
                .then((response) => {
                    this.registered = response.data;
                    this.loadingRegister = false;
                });
            },
            loadRoles: function() {
                axios.get('/api/v1/roles')
                .then((response) => {
                    this.roles = response.data;
                });
            }
        },
        mounted() {
            this.loadEnabled();
            this.loadDisabled();
            this.loadNew();
            this.loadRoles();
            this.user = this.$currentUser;
            this.$parent.links = [];
        },
    }
</script>
