<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default has-table">
                    <div class="card-header">Outgoing fleets - <router-link :to="{ name: 'galaxy', params: { id: planet.galaxy_id }}"><a>{{ planet.x }}:{{ planet.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: planet.id }}"><a>{{ planet.z }}</a></router-link></div>

                    <outgoing-component v-bind:tick="settings.tick" :id.sync="this.id" :perPage.sync="this.perPage" :type.sync="this.type"></outgoing-component>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                planet: {},
                id: this.$route.params.id,
                type: 'planet',
                perPage: 100
            };
        },
        mounted() {
            axios.get('/api/v1/planets/' + this.$route.params.id + '?all=1')
            .then((response) => {
                this.planet = response.data;
            });
        },
    }
</script>
