<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default mb-3 has-table">
                    <div class="card-header">
                        <span v-if="!loading">
                            <i class="fas fa-dollar-sign" v-if="planet.used_bonus" style="margin-right: 5px" v-tooltip:top="'Used bonus tick ' + planet.used_bonus"></i>
                            <i class="fas fa-fire-alt" v-if="planet.anarchy" style="margin-right: 5px" v-tooltip:top="'In anarchy until tick ' + planet.anarchy"></i>
                            <i class="fas fa-shield-alt" v-if="planet.is_protected" style="margin-right: 5px;" v-tooltip:top="'In protection for ' + (24-planet.age) + ' more tick(s)'"></i>
                            {{ planet.ruler_name }} of {{ planet.planet_name }} (<router-link :to="{ name: 'galaxy', params: { id: planet.galaxy_id }}"><a>{{ planet.x }}:{{ planet.y }}</a></router-link> <router-link :to="{ name: 'planet', params: { id: planet.id }}"><a>{{ planet.z }}</a></router-link>) <span class="race" v-bind:class="planet.race">{{ planet.race }}</span> - {{ planet.nick }} <span v-if="planet.nick && planet.alliance"> </span><router-link v-if="planet.alliance" :to="{ name: 'alliance', params: { id: planet.alliance.id }}"><a>{{ planet.alliance.name }}</a></router-link>
                            <span class="mb-0 scans" v-if="planet.latest_p || planet.latest_d || planet.latest_u || planet.latest_n || planet.latest_j || planet.latest_a">
                                - <scans :planet="planet" :tick="settings.tick"></scans>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <overview :type="'planet'" :id.sync="planet.id" :tick.sync="settings.tick"></overview>
            </div>

            <div class="col-md-6">
                <rank-history :type="'planet'" :id.sync="planet.id"></rank-history>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <planet-ships :id.sync="planet.id"></planet-ships>
            </div>

            <div class="col-md-6">

                <div class="card card-default mb-3 has-table">
                    <div class="card-header">Intel</div>

                    <div class="card-body">
                        <table class="table table-striped table-bordered" style="width:100%;table-layout: auto;" v-if="planet.attackedBy || planet.attacked || planet.defendedBy || planet.defended">
                            <tbody>
                                <tr>
                                    <td class="p-0" colspan="2" style="width: 50%"></td>
                                    <td class="p-0" colspan="2" style="width: 50%"></td>
                                </tr>
                                <tr>
                                    <td class="align-top">Attacked</td>
                                    <td class="red wrap align-top">{{ planet.attacked }}</td>
                                    <td class="align-top">Defended</td>
                                    <td class="green wrap align-top">{{ planet.defended }}</td>
                                </tr>
                                <tr>
                                    <td class="align-top">Attacked By</td>
                                    <td class="red wrap align-top">{{ planet.attackedBy }}</td>
                                    <td class="align-top">Defended By</td>
                                    <td class="green wrap align-top">{{ planet.defendedBy }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p v-if="!planet.attackedBy && !planet.attacked && !planet.defendedBy && !planet.defended" class="no-data">No fleets tracked to or from this planet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <outgoing-summary :type="'planet'" :id.sync="planet.id"></outgoing-summary>
            </div>
            <div class="col-md-6">
                <incoming-summary :type="'planet'" :id.sync="planet.id"></incoming-summary>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <planet-history :id.sync="planet.id"></planet-history>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <planet-scans :id.sync="planet.id" :tick="settings.tick"></planet-scans>
            </div>
            <div class="col-md-6">
                <planet-movements :id.sync="planet.id" :type="'planet'"></planet-movements>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                planet: {
                    id: this.$route.params.id,
                    income: {},
                    ships: {},
                    outgoing: { data: {} },
                    incoming: { data: {} },
                    galaxy_id: 0
                },
                type: 'planet',
                tick: { tick: 0 },
                loading: true,
            };
        },
        methods: {
            loadPlanet: function() {
                this.loading = true;
                axios.get('/api/v1/planets/' + this.$route.params.id)
                .then((response) => {
                    this.planet = response.data;
                    this.loading = false;
                });
            },
        },
        watch: {
           '$route': 'loadPlanet'
        },
        mounted() {
            this.planet.id = this.$route.params.id;
            this.loadPlanet();
        },
    }
</script>
