<template>
    <main class="my-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <planet-list :perPage="20" :showPerPage="true" :scans="false" :allianceCount="false"></planet-list>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <planet-movements></planet-movements>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data: function() {
            return {
                perPage: 20
            }
        }
    }
</script>
