<template>
    <main class="my-3" id="politics">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default mb-3 has-table" v-if="politics && (settings.show_political_deals || settings.role == 'Admin')">
                    <div class="card-header">
                        Our Political Deals <i class="fa fa-info-circle" v-tooltip:top="'An overview of the current political deals for our alliance.'" style="margin-left: 5px;"></i>
                    </div>

                    <div class="card-body">
                        <preloader :loading.sync="loadingPolitics"></preloader>
                        <table id="ourpolitics" class="table table-striped table-bordered" style="width:100%" v-if="!loadingPolitics">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="width: 100%">Alliance</th>
                                    <th rowspan="2">Status</th>
                                    <th rowspan="1" colspan="3" class="text-center">Max</th>
                                    <th rowspan="2">Tick Expiry</th>
                                    <th rowspan="2" v-if="settings.role == 'Admin'" class="text-right">Options</th>
                                </tr>
                                <tr>
                                    <th rowspan="1" class="text-center">Planets</th>
                                    <th rowspan="1" class="text-center">Waves</th>
                                    <th rowspan="1" class="text-center">Fleets</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="politic in politics" v-bind:key="politic.id" v-bind:class="politic.status">
                                    <td><router-link v-if="politic.alliance" :to="{ name: 'alliance', params: { id: politic.alliance.id }}"><a>{{ politic.alliance.name }}</a></router-link></td>
                                    <td>{{ politic.status }}</td>
                                    <td class="text-center">{{ politic.max_planets || "n/a" }}</td>
                                    <td class="text-center">{{ politic.max_waves || "n/a" }}</td>	
                                    <td class="text-center">{{ politic.max_fleets || "n/a" }}</td>
                                    <td>{{ politic.expire }}</td>
                                    <td v-if="settings.role == 'Admin'" class="text-right">
                                        <a v-on:click="removeAgreement(politic.id)" class="btn btn-sm btn-danger" title="Remove Agreement">
                                            <i class="fa fa-error fa-trash"></i>
                                        </a>
                                    </td>									
                                </tr>
                            </tbody>
                        </table>
                        <p v-if="!loadingPolitics & !politics.length" class="no-data">There are currently no deals set</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <wars :status="'current'" :perPage="10" :tick="settings.tick"></wars>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <wars :status="'expired'" :perPage="10" :tick="settings.tick"></wars>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-md-12">
                <div class="card card-default mb-3 has-table" v-if="politics && (settings.role == 'Admin' || settings.role == 'BC')">
                    <div class="card-header">
                        Manage Politics<br/>
                        <small>Set alliance relational status for any other alliance in the game</small>
                    </div>
                    <div class="card-body" style="padding:12px 17px 14px;">
                        <div>
                            <form @submit.prevent="createPolitics">
                                <div class="form-group">
                                    <label for="name">Alliance</label><br>
                                    <select v-model="relation.alliance_id">
                                        <option value="">Select alliance</option>
                                        <option v-for="alliance in alliances.data" v-bind:value="alliance.id" v-bind:key="alliance.id">
                                        {{ alliance.name }}
                                        </option>
                                    </select>
                                    <select v-model="relation.status" id="status" v-on:change="changeStatus()">
                                        <option value="">Select deal type</option>
                                        <option value="none">No Deal</option>
                                        <option value="nap">Full NAP</option>
                                        <option value="deal">Deal</option>
                                    </select>
                                    <span v-if="this.deal">
                                        <select v-model="relation.max_planets" id="maxPlanets">
                                            <option value="">Select max planets</option>
                                            <option value=1>Max 1 Planets</option>
                                            <option value=2>Max 2 Planets</option>
                                            <option value=3>Max 3 Planets</option>
                                            <option value=4>Max 4 Planets</option>
                                            <option value=5>Max 5 Planets</option>
                                            <option value=6>Max 6 Planets</option>
                                            <option value=7>Max 7 Planets</option>
                                        </select>
                                        <select v-model="relation.max_waves" id="maxWaves">
                                            <option value="">Select max waves</option>
                                            <option value=1>Max 1 Waves</option>
                                            <option value=2>Max 2 Waves</option>
                                            <option value=3>Max 3 Waves</option>
                                            <option value=4>Max 4 Waves</option>
                                            <option value=5>Max 5 Waves</option>
                                            <option value=6>Max 6 Waves</option>
                                            <option value=7>Max 7 Waves</option>
                                        </select>
                                        <select v-model="relation.max_fleets" id="maxFleets">
                                            <option value="">Select max fleets</option>
                                            <option value=1>Max 1 Fleets</option>
                                            <option value=2>Max 2 Fleets</option>
                                            <option value=3>Max 3 Fleets</option>
                                            <option value=4>Max 4 Fleets</option>
                                            <option value=5>Max 5 Fleets</option>
                                            <option value=6>Max 6 Fleets</option>
                                            <option value=7>Max 7 Fleets</option>
                                        </select>
                                    </span>
                                    <input v-model="relation.expire" v-if="relation.status == 'nap' || relation.status == 'deal'"  type="text" name="expire" value="" placeholder="Tick expiry.." id="expire" style="width:100px;border:1px solid gray"/>
                                    <br />
                                    <button type="submit" class="btn btn-primary" style="margin-top:12px">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default {
        props: ['settings'],
        data() {
            return {
                'politics': {},
                'name': '',
                'alliances': {},
                'currentWars': {},
                relation: {
                    alliance_id: "",
                    status: "",
                    max_planets: "",
                    max_waves: "",
                    max_fleets: "",
                    expire: ""
                },
                loadingPolitics: true,
                loadingAlliances: true,
                deal: false
            };
        },
        methods: {
            loadPolitics: function() {
                this.loadingPolitics = true;
                axios.get('api/v1/politics').then((response) => {
                    this.politics = response.data;
                    this.loadingPolitics = false;
                });
            },
            changeStatus: function() {
                this.deal = false;
                if(this.relation.status == "deal") {
                    this.deal = true;
                }
            },
            removeAgreement: function(id) {
                if(confirm("Are you sure?")) {
                    axios.delete('api/v1/politics/' + id)
                    .then((response) => {
                        this.politics = response.data;
                        this.$notify({
                          group: 'foo',
                          title: 'Success',
                          text: 'Political status removed',
                          type: 'success'
                        });
                        this.loadPolitics();
                        
                    });
                }

            },
            createPolitics: function() {
                axios.post('api/v1/politics', {
                    alliance_id: this.relation.alliance_id,
                    status: this.relation.status,
                    max_planets: this.relation.max_planets,
                    max_waves: this.relation.max_waves,
                    max_fleets: this.relation.max_fleets,
                    expire: this.relation.expire
                }).then((response) => {
                    this.$notify({
                        group: 'foo',
                        title: 'Success',
                        text: 'Relation saved!',
                        type: 'success'
                    });
                    this.relation = {};
                    this.loadPolitics();
                });
            },
            loadAlliances: function() {
                axios.get('api/v1/alliances', {
                    params: {
                        sort: "+name",
                        perPage: 999
                    }
                })
                .then((response) => {
                    this.alliances = response.data;
                    this.loadingAlliances = false;
                });
            },
        },
        watch: {
           'sort': 'loadPolitics'
        },
        mounted() {
            this.loadPolitics();
            this.loadAlliances();
        },
    }
</script>
