
// Body
$body-bg: #2C2C2C;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$nav-bg: #423446;
$primary-bg: #2C2C2C;
$secondary-bg: #424242;
$button-bg: #FB9678;
$button-bg-hover: #fa7952;
$link-color: #47C5B5;
$link-color-hover: #37ae9f;
$link-color2: #ff3399;
$link-color-dark: #2b887b;
$border-color: #2C2C2C;
$yellow: #ffff00;
$red: #ff471a;
$green: #00cc00;
$lightblue: #42c5f4;
$pink: #BB7ECD;
$darkpink: #7c347a;
$basher: #FFA500;
$minty: #48C5B5;
$darkminty: #2a7067;
$darkerminty: #1c4a45;
$darkgreen: #006400;
$darkred: #640b0b;
$darkorange: #b86e14;
$recalled: #666666;